.img-p {
	padding-bottom: 30px;
	position: relative;
}

h1 {
	margin-bottom: 50px;
}

.glyphicon-star {
	color: gold;
	font-size: 18px;
}

.rates {
	/*position: relative;*/
	position: absolute;
	right: 30px;
	top: 45px;
}

.title {
	font-size: 20px;
	font-weight: 700;
}

.form {
	margin-top: 10px;
}

input {
	margin-bottom: 5px;
}

.inputform {
	width: 25%;
}
